.advantages {

  &__action {
    width: 150px;
    height: 150px;
    margin-top: 25px;
    animation-name: rotation;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }

  &__list {
    display: flex;
    justify-content: space-around;
    margin-top: -100px;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    vertical-align: baseline;
    background: #ffffff;
    border-radius: 3px;
    box-shadow: 0px 5px 100px 0px rgba(102, 102, 102, 0.1);
  }

  &__item {}
}

.advantage {
  position: relative;

  &::before {
    position: absolute;
    top: 42px;
    left: 0;
  }

  &--time {
    &::before {
      content: url("../img/smiles/time.webp");
      width: 80px;
      height: 80px;
    }
  }

  &--designers {
    &::before {
      content: url("../img/smiles/artist.webp");
      top: 25px;
      left: 0;
      width: 100px;
      height: 100px;
    }
  }

  &--projects {
    &::before {
      content: url("../img/smiles/like.webp");
      width: 80px;
      height: 80px;
    }
  }

  &__title {
    margin-top: 50px;
    margin-bottom: 0;
    padding-left: 90px;
    font-weight: 600;
    font-size: 70px;
  }

  &__text {
    margin-top: 0;
    margin-bottom: 50px;
    font-weight: 300;
    font-size: 20px;
    color: #2c2c2c;
  }
}
