.bonuses {
  margin-top: 30px;
  padding-left: 0;
  list-style: none;

  @media(min-width: 1024px) {
    display: flex;
    justify-content: space-between;
  }
}

.bonus {
  margin-bottom: 50px;
  text-align: center;

  @media(min-width:768px){
    text-align: left;
  }

  @media(min-width: 1024px) {
    max-width: 300px;
    margin-bottom: 0;
  }


  &__title {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 32px;
  }

  &__text {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 20px;
    color: #101010;
  }

  &__link {
    font-size: 20px;
    color: #1b1818;
  }
}
