.contact {
  margin-top: 100px;
  background-color: #fafafa;

  .container {
    display: flex;
    justify-content: space-between;
  }

  &__text-block {}

  &__title {
    margin-top: 50px;
    margin-bottom: 50px;
    font-weight: 600;
    font-size: 60px;
    line-height: 0.9;
  }

  &__block {
    margin-bottom: 50px;
  }

  &__subtitle {
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
    margin-bottom: 15px;
    padding-left: 30px;
    font-weight: 300;
    font-size: 20px;
    color: #2c2c2c;
    opacity: 0.7;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
    }

    &--office {
      &::before {
        content: url("../img/icons/location.svg");
        top: -1px;
        width: 16px;
        height: 24px;
      }
    }

    &--repair {
      &::before {
        content: url("../img/icons/phone.svg");
        top: -1px;
      }
    }

    &--offers {
      &::before {
        content: url("../img/icons/mail.svg");
      }
    }
  }

  &__text {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 700;
    font-size: 28px;
    max-width: 500px;
  }

  &__button {}

  &__map {
    width: 940px;
    height: 720px;
  }
}
