.feedbacks {
  margin-top: 100px;

  &__title {
    margin-top: 0;
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 40px;
    text-align: center;

    @media(min-width: 768px) {
      margin-bottom: 50px;
      font-size: 60px;
    }
  }

  &__slider {}

  &__item {}

  &__img {
    width: 320px;
    height: 505px;


    @media(min-width: 768px) {
      width: 560px;
      height: 883px;
      margin-left: calc(50% - 280px);
    }
  }

  /* Слайдер */
  .slick-slider {
    text-align: center;
  }

  /* Слайдер запущен */
  .slick-slider.slick-initialized {}


  /* Ограничивающая оболочка */
  .slick-list {}

  /* Лента слайдов */
  .slick-track {
    position: relative;
  }

  /* Слайд */
  .slick-slide {
    opacity: 0.3;
  }

  /* Слайд активный (показывается) */
  .slick-slide.slick-active {
    opacity: 1;

  }

  /* Слайд основной */
  .slick-slide.slick-current {}

  /* Слайд по центру */
  .slick-slide.slick-center {}

  /* Клонированный слайд */
  .slick-slide.slick-cloned {}

  /* Стрелка */
  .slick-arrow {
    position: absolute;
    top: 230px;
    z-index: 3;
    width: 50px;
    height: 50px;
    font-size: 0;
    background-color: rgba(255, 214, 0, 1);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 11px 20px;
    border: none;
    border-radius: 100%;
    transition: 0.3s;

    @media(min-width: 768px) {
      top: 50%;
    }

    &:hover {
      box-shadow: 0 0px 5px 0 rgba(0, 40, 120, .35);
      transition: 0.3s;
    }

    &:active {
      box-shadow: 0 0 0 0 rgba(0, 40, 120, 0);
      transition: 0.3s;
    }
  }

  /* Стрелка влево */
  .slick-arrow.slick-prev {
    left: 0px;
    background-image: url("../img/icons/arrow.svg");
    transform: rotate(180deg);

    @media(min-width:768px) {
      left: 50px;
    }
  }

  /* Стрелка вправо */
  .slick-arrow.slick-next {
    right: 0px;
    background-image: url("../img/icons/arrow.svg");

    @media(min-width:768px) {
      right: 50px;
    }
  }

  /* Стрелка не активная */
  .slick-arrow.slick-disabled {}
}
