.footer {

  &__nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px;
    text-align: center;
  }

  .nav__link {
    font-size: 18px;
    color: #000;

    @media(max-width: 1023px) {
      padding: 0 10px;
      line-height: 2;
    }
  }

  &__link {
    position: relative;
    padding-right: 10px;
    padding-bottom: 30px;
    font-size: 18px;
    text-align: right;
    color: #111;
    text-decoration: none;

    &::after {
      content: url("../img/icons/arrow-up.svg");
      position: absolute;
      top: 7px;
      right: 0;
      width: 15px;
      height: 7px;
      transform: rotate(270deg);
    }
  }
}
