.form {

  &__wrapper {
    position: fixed;
    padding: 40px 45px;
    background: #fff;
    border-radius: 2px;
    display: none;

    &--active {
      display: block;
    }
  }

  &__close {
    position: absolute;
    right: 45px;
    top: 45px;
    cursor: pointer;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 32px;
    color: #1b1818;
  }

  &__text {
    font-weight: 300;
    font-size: 20px;
    line-height: 1.25;
    color: #605e5e;
  }

  &__input {
    align-items: center;
    width: 100%;
    height: 60px;
    margin-bottom: 30px;
    padding-left: 10px;
    border: 1px solid #c9c9c9;
    position: relative;

    &::placeholder {
      font-size: 16px;
      line-height: 1.33;
    }

    &--name {

    }

    &--tel {

    }
  }

  .js-validate-error-label {
      font-size: 16px;

    }

  &__button {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;

    img {
      width: 15px;
      height: auto;
      margin-bottom: -3px;
      margin-left: 5px;
    }
  }

  &--call {

    &__wrapper {
      top: calc(50% - 228px);
      left: calc(50% - 270px);
      max-width: 450px;
    }
  }
}
