.gallery {

  &__title {
    font-weight: 600;
    font-size: 60px;
    text-align: center;
  }

  &__photos {

  }

  &__button {
    display: flex;
    margin-right: auto;
    margin-left: auto;
  }
}
