.header {

  &__left {
    display: flex;
    vertical-align: bottom;
  }

  &__logo {}

  &__nav {
    margin-left: 75px;
  }

  &__call {
    margin-top: 85px;
  }


  &--fixed {
    left: 0;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
    box-shadow: 0px 30px 50px 0px  rgba(158, 158, 158, 0.1);
    display: none;

    &-active {
      display: block;
    }

    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__logo {
      width: 63px;
      height: 62px;
    }

    .nav {

      &__list {
        margin-top: 0;
      }

      &__link {
        color: #000;
      }
    }
  }
}
