.header {

  &__left {
    display: flex;
    align-items: center;
  }

  &__logo {
    max-width: 186px;
    max-height: 52px;
  }

  &__nav {
    display: none;
    margin-left: 75px;

    @media(min-width: 1024px) {
      display: flex;
    }
  }

  &__call {
    display: none;
    margin-top: 0;

    @media(min-width: 1024px) {
      display: block;
    }
  }


  &--fixed {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0px 30px 50px 0px rgba(158, 158, 158, 0.1);
    z-index: 5;

    &-active {
      display: block;
    }

    .container {
      display: none;

      @media(min-width: 1024px) {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }

    &__logo {
      width: 63px;
      height: 62px;
    }

    .nav {
      display: none;

      @media (min-width: 1024px) {
        display: flex;

      }

      &__list {
        margin-top: 0;
      }

      &__link {
        color: #000;
      }
    }

    .phone {
      display: none;

      @media(min-width: 1024px) {
        display: flex;
      }
    }
  }

  &--mobile {
    position: absolute;
    top: -15px;
    right: 0;
  }

  &__burger {
    position: relative;
    z-index: 4;
    display: block;
    height: 37px;
    padding-right: 70px;
    border-radius: 50%;

    @media(min-width: 1024px) {
      display: none;
      padding-right: 0;
    }
  }

  &__burger span,
  &__burger span::before,
  &__burger span::after {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 2px;
    margin-top: -1px;
    margin-left: -10px;
    background-color: #ffd600;
  }

  &__burger span::before,
  &__burger span::after {
    content: '';
    display: block;
    transition: 0.2s;
  }

  &__burger span::before {
    transform: translateY(-5px);
  }

  &__burger span::after {
    transform: translateY(5px);
  }

  &__burger--active span:before {
    width: 10px;
    transform: rotate(-35deg);
    transform-origin: left bottom;
  }

  &__burger--active span:after {
    width: 10px;
    transform: rotate(35deg);
    transform-origin: left top;
  }
}
