.header {

  &__left {
    display: flex;
    align-items: center;
  }

  &__logo {
    max-width: 186px;
    max-height: 52px;
  }

  &__nav {
    margin-left: 75px;
  }

  &__call {
    margin-top: 0;
  }


  &--fixed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    display: none;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0px 30px 50px 0px rgba(158, 158, 158, 0.1);

    &-active {
      display: block;
    }

    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__logo {
      width: 63px;
      height: 62px;
    }

    .nav {

      &__list {
        margin-top: 0;
      }

      &__link {
        color: #000;
      }
    }
  }
}
