.indicators {

  &__list {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    text-align: center;


    @media(min-width: 768px) {
      display: flex;
      justify-content: space-between;
      align-items: top;
      vertical-align: top;
      text-align: left;
    }

    @media(min-width: 1024px) {
      width: 495px;
    }
  }

  &__item {
    position: relative;
    padding-top: 40px;
  }
}

.indicator {

  margin-bottom: 15px;

  @media(min-width: 1024px) {
    max-width: 150px;
    margin-bottom: 0;
  }



  &--time {
    &::before {
      content: url("../img/icons/time.svg");
      position: absolute;
      top: 0;
      left: calc(50% - 24px);
      width: 48px;
      height: 54px;

      @media(min-width:768px) {
        left: -7px;
      }
    }
  }

  &--price {
    &::before {
      content: url("../img/icons/price.svg");
      position: absolute;
      top: 0;
      left: calc(50% - 31px);
      width: 62px;
      height: 62px;

      @media(min-width:768px) {
        left: -10px;
      }
    }
  }

  &--bonus {
    &::before {
      content: url("../img/icons/bonus.svg");
      position: absolute;
      top: 0;
      left: -7px;
      left: calc(50% - 26.5px);
      width: 53px;
      height: 53px;

      @media(min-width: 768px) {
        left: -7px;
      }
    }
  }

  &__title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.1;
    color: #ffffff;
  }

  &__text {
    font-weight: 300;
    font-size: 18px;
    line-height: 1.1;
    color: #ffffff;
  }
}
