.phone {
  display: flex;
  align-items: center;

  &__number {
    margin-right: 30px;
    font-weight: 600;
    font-size: 36px;
  }

  &__icon {
    width: 30px;
    height: 30px;
  }

  &__button {
    width: 60px;
    height: 60px;
    background-color: #ffd600;
    border: none;
    border-radius: 100%;
  }
}
