.promo {
  padding-bottom: 50px;
  background-image: url("../img/backgrounds/promo-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  @media(min-width:768px) {
    padding-bottom: 150px;
  }

  &__title {
    position: relative;
    max-width: 685px;
    margin-top: 50px;
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    color: #FFFFFF;


    @media(min-width: 768px) {
      margin-bottom: 15px;
      font-size: 80px;
      text-align: left;
    }

    &::after {

      @media(min-width:768px) {
        content: url('../img/smiles/ok.webp');
        position: absolute;
        top: 170px;
        right: -40px;
        width: 144px;
        height: 134px;
      }
    }

    &--small {
      font-weight: 300;
      font-size: 24px;
      vertical-align: text-top;

      @media(min-width: 768px) {
        font-size: 32px;
      }
    }
  }

  &__text {
    max-width: 680px;
    margin-top: 0;
    margin-bottom: 30px;
    font-weight: 300;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    color: #ffffff;
    opacity: 0.8;

    @media(min-width: 768px) {
      margin-bottom: 50px;
      font-size: 32px;
      text-align: left;
    }
  }

  &__flex-sb {
    @media(min-width: 1024px) {
      display: flex;
      justify-content: space-between;
    }

  }

  &__button {
    width: 100%;
    padding: 20px 30px;

    @media(min-width:768px) {
      width: 330px;
      height: 85px;
      padding: 20px 40px;
    }
  }



  &__indicators {
    margin-top: 50px;

    @media(min-width: 768px) {
      margin-top: 80px;
    }
  }
}
