.questions {

  &__text-block {

  }

  &__title {
    font-size: 60px;
    font-weight: 600;
  }

  &__text {
    color: #2f2f2f;
    font-size: 28px;
    font-weight: 400;
    opacity: 0.7;
  }

  &__button {
    text-decoration: none;
    color: #000;
  }

  &__img {

  }
}
