.questions {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;

  &__text-block {
    width: 600px;
  }

  &__title {
    margin-top: 50px;
    margin-bottom: 0;
    font-weight: 600;
    font-size: 60px;
  }

  &__text {
    margin-top: 15px;
    margin-bottom: 50px;
    font-weight: 400;
    font-size: 28px;
    color: #2f2f2f;
    opacity: 0.7;
  }

  &__button {
    color: #000;
    text-decoration: none;
  }

  &__img {
    max-width: 550px;
  }
}
