.repair {

  &__text-block {

  }

  &__title {
    color: #101010;
    font-size: 60px;
    font-weight: 600;
  }

  &__list {

  }

  &__item {
    font-size: 24px;
    color: #101010;
    font-weight: 300;
    line-height: 1.4;
  }

  &__img {

  }

  &__list {
    padding-left: 0;
    list-style: none;
  }
}
