.repair {
  margin-bottom: 100px;

  &__text-block {
    margin-bottom: 50px;

    @media(min-width:1024px) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__title {
    max-width: 560px;
    margin-top: 0;
    margin-bottom: 0;
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 40px;
    text-align: center;
    color: #101010;
    text-align: center;

    @media(min-width:768px) {
      font-size: 60px;
      text-align: left;
    }

    @media(min-width: 1024px) {
      margin-bottom: 0;
    }
  }

  &__list {
    margin-top: 0;
    margin-bottom: 0;
  }

  &__item {
    font-weight: 300;
    font-size: 24px;
    line-height: 1.4;
    color: #101010;
  }

  &__img {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
  }
}
