.section {
  margin-bottom: 75px;

  &__title {
    margin-top: 0;
    margin-bottom: 40px;
    font-weight: 600;
    font-size: 36px;
  }

  &__text {
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.55;
  }

  &__list {}

  &__item {
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.55;
  }

  &__link {
    text-decoration: none;

  }

  &__link--orange {
    color: rgb(235, 121, 45);
  }
}
