.services {

  &__title {
    margin-top: 0;
    margin-bottom: 50px;
    font-weight: 600;
    font-size: 40px;
    line-height: 1.55;
    text-align: center;
    color: #101010;

    @media(min-width: 768px) {
      font-size: 70px;
    }

    @media(min-width: 1024px) {
      text-align: left;
    }
  }

  &__item {
    margin-bottom: 75px;

    @media(min-width: 1024px) {
      margin-bottom: 50px;
    }
  }
}

.service {


  @media(min-width: 1024px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &2 {
    @media(max-width:1023px) {
      display: flex;
      flex-flow: column-reverse;
    }
  }


  &__text-block {
    text-align: center;

    @media(min-width:1024px) {
      max-width: 450px;
      text-align: left;
    }

    @media(max-width:1023px) {
      margin-bottom: 50px;
    }
  }

  &__title {
    margin-top: 0;
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 32px;
    line-height: 1.09;

    @media(min-width: 768px) {
      font-size: 40px;
    }
  }

  &__list {
    margin-top: 0;
    margin-bottom: 30px;
    padding-left: 0;
    list-style: none;
  }

  &__button {
    font-size: 18px;

    @media(min-width: 1024px) {
      font-size: 22px;
    }
  }

  &__img {

    @media(max-width:1023px) {
      display: flex;
      margin: 0 auto;
    }

    @media(min-width: 768px) {
      max-width: 600px;
      height: auto;
    }

    &-wrapper {
      position: relative;

    }
  }

  &__download {
    position: absolute;
    top: calc(50% - 72px);
    left: calc(50% - 72px);
    text-decoration: none;
    cursor: pointer;
  }
}

.description {

  &__item {
    font-size: 20px;
    line-height: 1.55;
    color: #1b1818;
    opacity: 0.7;

    @media(min-width: 768px) {
      font-size: 28px;
    }
  }
}
