.services {

  &__title {
    font-weight: 600;
    font-size: 70px;
    line-height: 1.55;
    color: #101010;
    margin-top: 0;
    margin-bottom: 50px;
  }

  &__item {
    margin-bottom: 50px;
  }
}

.service {
  display: flex;
  justify-content: space-between;
  align-items: center;


  &__text-block {
    max-width: 450px;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 40px;
    line-height: 1.09;
  }

  &__list {
    margin-top: 0;
    margin-bottom: 30px;
    padding-left: 0;
    list-style: none;
  }

  &__button {}

  &__img {
    max-width: 600px;
    height: auto;
    &-wrapper {
      position: relative;
    }
  }

  &__download {
    position: absolute;
    top: calc(50% - 72px);
    left: calc(50% - 72px);
    text-decoration: none;
  }
}

.description {

  &__item {
    font-size: 28px;
    line-height: 1.55;
    color: #1b1818;
    opacity: 0.7;
  }
}
