@font-face {
  font-weight: 300;
  font-family: "TTCommons";
  font-style: normal;
  src: url("../fonts/TTCommons-Light.woff2") format("woff2"), url("../fonts/TTCommons-Light.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-weight: 400;
  font-family: "TTCommons";
  font-style: normal;
  src: url("../fonts/TTCommons-Regular.woff2") format("woff2"), url("../fonts/TTCommons-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-weight: 500;
  font-family: "TTCommons";
  font-style: normal;
  src: url("../fonts/TTCommons-Medium.woff2") format("woff2"), url("../fonts/TTCommons-Medium.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-weight: 600;
  font-family: "TTCommons";
  font-style: normal;
  src: url("../fonts/TTCommons-DemiBold.woff2") format("woff2"), url("../fonts/TTCommons-DemiBold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-weight: 700;
  font-family: "TTCommons";
  font-style: normal;
  src: url("../fonts/TTCommons-Bold.woff2") format("woff2"), url("../fonts/TTCommons-Bold.woff") format("woff");
  font-display: swap;
}
