.offer-page {
  font-family: "TTCommons", sans-serif;

  &__title {
    margin-top: 75px;
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 50px;
    line-height: 1.25;
    text-align: center;
  }

  &__subtitle {
    margin-top: 0;
    margin-bottom: 50px;
    font-size: 24px;
    text-align: center;
    color: #666666;
  }

  &__text {
    margin-top: 0;
    margin-bottom: 50px;
    font-size: 18px;
    line-height: 1.45;
    text-align: center;
  }
}
